* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
    color: seashell;
}


.header {
    border: 1px solid black;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    z-index: 100000;
}

.title {
    float: left;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

.nav {
    left: 350px;
    top: 10px;
    position: relative;
    font-size: 22px;
}

.nav ul {
    position: relative;
   display: inline-flex;
}

.nav ul li  {
    padding: 10px;
}

.nav ul li a {
    text-decoration: underline;
    color: rgba(255, 245, 238, 0.726);
}

.banner {
    width: 1200px;
    height: 700px;
    position: relative;
    top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/styles/images/img-mission-background.jpg);
    color: rgba(255, 245, 238, 0.691);
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: black;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    position: relative;
    bottom: 25px;
    font-size: 28px;
    left: 400px;
}

.content h4 {
    position: relative;
    top: 25px;
    font-size: 20px;
}

.tea-container {
    width: 1000px;
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.tea-title {
    color: seashell;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-size: 24px;
}

.tea-title h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.tea-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 25px;
}

.tea-images h5 {
    color: seashell;
    text-align: center;
    font-size: 1.2rem;
}

.tea {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}


.location-container {
    height: 500px;
    background-image: url(/styles/images/img-locations-background.jpg);
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
}

.location-title {
    text-align: center;
    font-size: 24px;
}

.location-site {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.location-site h3, p {
    line-height: 50px;
}

.blk {
    background-color: black;
    width: 300px;
    margin: 30px;
    text-align: center;
    height: 150px;
}

.footer {
    height: 200px;
    position: relative;
    top: 350px;
}

.footer-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: relative;
    bottom: 75px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.copyright {
    margin-left: 10px;
    position: relative;
    font-size: 12px;
    top: 50px
}
